*{
    margin: 0;
    padding: 0;
}

/*h1 {
    font-size: 50px;
    color: red;
}*/

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #FF8888, #330000);
}