<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin account</title>
    <p style="text-align: center">
        <img src="https://static.meteoblue.com/assets/images/cityclimate/partner/sbb.png"
             width="320" height="30" border="0" alt="Пример"></a></p>
</head>
<body>
Личный кабинет
<!--<a href="/sbb/v1/logout">Выйти!</a>-->
<form action="/sbb/v1/logout">
    <button><img style="vertical-align: middle">Ausgang! ** Выйти! ** Logout!</button>
</form>
<br>

<div th:if="${error}" th:text="${error}"></div>

<p><b> Добро пожаловать в личный кабинет пользователя - сотрудник компании с ролью "ADMIN"! </b></p>
<form action="/sbb/v1/admin/account/find_all_passengers_in_one_train">
    <p style="text-align: center">
    <button><img style="vertical-align: middle">Просмотр всех пассажиров, зарегистрированных на поезд</button></p>
</form>
<form action="/sbb/v1/admin/account/add_new_rwstation">
    <p style="text-align: left">
    <button><img style="vertical-align: middle">Добавление новых станций</button></p>
</form>
<form action="/sbb/v1/admin/account/add_new_train">
    <p style="text-align: center">
    <button><img style="vertical-align: middle">Добавление новых поездов</button></p>
</form>
<form action="/sbb/v1/admin/account/find_all_trains">
    <p style="text-align: right">
    <button><img style="vertical-align: middle">Просмотр всех поездов</button></p>
</form>
</body>
</html>