<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registrierungsformular</title>
    <!-- CSS only -->
    <link href="/css/loginform.css" rel="stylesheet">
    <p style="text-align: center"><a href="http://localhost:8090/sbb/v1/">
        <img src="https://static.meteoblue.com/assets/images/cityclimate/partner/sbb.png"
             width="320" height="30" border="0" alt="Пример"></a></p>
</head>
<body>
<style>
<!--div {width: 100%;}-->
a {display: block; text-align: center;}
</style>
<div style="text-align: center" th:if="${failure}" th:text="${failure}"></div>
<div style="text-align: center" th:if="${error}" th:text="${error}"></div>
<br>
<form th:action="@{/sbb/v1/login-handler}" method="post" style="text-align: center"> <!-- .loginProcessingUrl("/login-handler")  -->
    <br><br><input type="text" placeholder="Geben Sie Ihren Login..." name="login"><br><br><br> <!-- .usernameParameter("login")  -->
    <input type="password" placeholder="Geben Sie Ihren Passwort..." name="password"><br><br><br> <!-- .passwordParameter("password")  -->
    <input type="submit" value="Anmelden"><br>
</form>
<p style="text-align: center">Zum ersten Mal hier? Neues Login erstellen.</p>
<a style="text-align: center" href="/sbb/v1/registration_de">Klicken um anmelden!</a>
</body>
</html>