<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The SBB online portal for trains and public transport | SBB</title>
    <p style="text-align: center">
        <img src="https://static.meteoblue.com/assets/images/cityclimate/partner/sbb.png"
             width="320" height="30" border="0" alt="Пример"></a></p>
</head>
<body>
<form action="/sbb/v1/login_de">
<p style="text-align: left">
    <img src="https://www.publicdomainpictures.net/pictures/120000/velka/flag-of-germany-1434477103mVT.jpg"
         width="120" height="100" alt="Deutsch"> <br>
    <button><img style="vertical-align: middle"> Ich spreche Deutsch</button>
</p>
</form>
<form action="/sbb/v1/login_ru">
<p style="text-align: center">
    <img src="https://www.ros-color.ru/storage/post/34/344b0ad1ab5c2bdef84d854e51b28b8c.jpeg"
         width="120" height="100" alt="русски"> <br>
    <button><img style="vertical-align: middle">Я говорю по-русски</button>
</p>
</form>
<form action="/sbb/v1/login_uk">
<p style="text-align: right">
    <img src="https://flagfs.ru/content/flagi-stran/brit.jpg"
         width="120" height="100" alt="English"> <br>
    <button><img style="vertical-align: middle">I speak English</button>
</p>
</form>
</body>
</html>
