<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<meta charset="UTF-8">-->
    <title>The SBB online portal for trains and public transport | SBB</title>
    <!-- CSS only -->
    <link href="/css/start.css" rel="stylesheet">
    <!--<link href="start.css" rel="stylesheet">-->
    <!--<div><p style="text-align: center">
        <img src="https://static.meteoblue.com/assets/images/cityclimate/partner/sbb.png"
             width="320" height="30" border="0" alt="sbblogo"></a></p></div>-->

</head>
<body>
<!--<h1>Ich spreche Я говорю I speak </h1><br>-->
<section>
    <div class="box">
        <p><a href="/sbb/v1/login_de">
        <img src="/images/flagde.jpg" alt="flagde">
        </a></p>
    </div>
    <div class="box">
        <p><a href="/sbb/v1/login_ru">
        <img src="/images/flagru.jpg" alt="flagru">
        </a></p>
    </div>
    <div class="box">
        <p><a href="/sbb/v1/login_uk">
        <img src="/images/flaguk.jpg" alt="flaguk">
        </a></p>
    </div>
</section>
</body>
</html>
